@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap");

$primary-color: #f6d4b1;
$secondary-color: #525252;

*,
::after,
::before {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  background: $primary-color;
  color: $secondary-color;
}

a {
  color: $secondary-color;
  text-decoration: none;
}

ul li {
  list-style: none;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

label,
input,
textarea {
  width: 100%;
  display: block;
  border: none;
  outline: none;
}

textarea {
  resize: none;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 117rem;
  margin: 0 auto;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
  color: $secondary-color;
}

.blank {
  margin-top: 10rem;
}

.highlight {
  color: $primary-color;
  position: relative;
  padding: 2px 5px;
  font-weight: 400;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $secondary-color;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    z-index: -1;
  }
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background: $primary-color;
  box-shadow: 0px 0px 4px 1px $secondary-color;
  .container {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.2rem 0;
      .left {
        .name {
          h1 {
            font-weight: 900;
            font-size: 32px;
          }
        }
      }
      .right {
        .desktop {
          .menu-items {
            display: flex;
            align-items: center;
            .menu-list-items {
              margin: 0 15px;
              h3 {
                font-size: 1.4rem;
                font-weight: 700;
              }
            }
          }
        }
        .mobile {
          display: none;
        }
      }
    }
  }
}

.menu-items {
  .menu-list-items {
    cursor: pointer;
    button {
      width: 50px;
      border: 2px solid $secondary-color;
      border-radius: 50px;
      .mode {
        display: flex;
      }
      .mode-two {
        display: flex;
        margin-left: 52%;
      }
      &:active {
        .dark {
          transition: transform 0.3s;
          transform: translateX(100%);
        }
        .light {
          transition: transform 0.3s;
          transform: translateX(-100%);
        }
      }
    }
    h3 {
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: $secondary-color;
        transition: width 0.3s;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
}

.contact-form {
  margin: 6rem 0;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    .contact-content {
      width: 80vw;
      text-align: center;
      .form {
        margin-top: 2rem;
        display: flex;
        border-radius: 10px;
        padding: 2rem;
        justify-content: space-between;
        box-shadow: 0px 0px 4px 1px $secondary-color;
        .left,
        .right {
          width: 100%;
          padding: 10px;
        }
        .form-element {
          margin: 2rem 0;
        }
        label {
          font-size: 1.6rem;
          text-align: left;
          margin: 5px 0;
        }
        input,
        textarea {
          border-radius: 5px;
          border: 2px solid $secondary-color;
          color: $secondary-color;
          background: transparent;
          padding: 11px 5px;
          font-size: 1.4rem;
          font-family: inherit;
          &:focus {
            border: 1px solid $secondary-color;
          }
        }
        .right {
          .form-submit {
            border: 2px solid $secondary-color;
            color: $secondary-color;
            font-size: 1.8rem;
            font-weight: 700;
            padding: 10px 25px;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            &:hover {
              transition: all 0.3s ease-in-out;
              background: $secondary-color;
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}

.about {
  margin: 6rem 0;
  .container {
    .about-content {
      text-align: center;
      .about-me {
        margin: 2rem 0;
        .name {
          text-align: center;
        }
        p {
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 1.5;
        }
      }
      .current-stack,
      .future-stack {
        margin: 2.4rem 0;
        p {
          margin: 2rem 0;
          .icon {
            margin: 0 1rem;
            font-size: 40px;
          }
          .stack {
            &:hover {
              transition: transform 0.5s;
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
}

footer {
  border-top: 2px solid $secondary-color;
  .container {
    .footer-content {
      margin: 4rem auto;
      text-align: center;
      .footer-list {
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-list-item {
          cursor: pointer;
          border: 2px solid $secondary-color;
          padding: 8px 8px 6px 8px;
          border-radius: 50%;
          margin: 2rem 1rem 0 1rem;
          &:hover {
            transition: all 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
            background-color: $secondary-color;
            .icon {
              color: $primary-color;
            }
          }
        }
      }
      .copyrights {
        font-size: 1.3rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contact-form {
    .container {
      .contact-content {
        width: 100%;
        .form {
          flex-direction: column;
          .left {
            padding-bottom: 0;
          }
          .right {
            padding-top: 0;
            .form-element {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    .container {
      .header {
        .right {
          .desktop {
            display: none;
          }
          .mobile {
            display: block;
            .mobile-view {
              .menu-btn {
                font-size: 2rem;
              }
              .menu-open {
                transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
                opacity: 0;
                transform: translateY(-100%);
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                z-index: 1;
                &.active {
                  opacity: 1;
                  transform: translateY(0);
                }
                .full-screen-menu {
                  position: absolute;
                  top: 0;
                  right: 0;
                  height: 100%;
                  width: 100%;
                  background: $primary-color;
                  padding: 2rem;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  .menu-close {
                    position: absolute;
                    top: 2rem;
                    right: 2rem;
                    font-size: 2rem;
                  }
                  .menu-items {
                    .menu-list-items {
                      font-size: 1.4rem;
                      text-align: center;
                      margin: 15px 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
