@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap");

$primary-color: #f6d4b1;
$secondary-color: #525252;

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
}

span {
  display: inline-block;
}

.dark {
  background: var(--secondary-color);
  color: var(--primary-color);
  ::selection {
    background: var(--primary-color);
    color: var(--secondary-color);
  }
  a {
    color: var(--primary-color);
  }
  .icon {
    color: var(--primary-color);
    background: transparent;
  }

  header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 0px 0px 4px 1px var(--primary-color);
    .container {
      .header {
        .right {
          .mobile {
            .mobile-view {
              .menu-open {
                .full-screen-menu {
                  background: var(--secondary-color);
                }
              }
            }
          }
        }
      }
    }
  }
  h1 {
    transition: 0.5s all ease-in;
    color: var(--primary-color);
  }
  .highlight {
    color: var(--secondary-color);
    &::after {
      background-color: var(--primary-color);
    }
  }
  .main-section {
    .container {
      .main-body {
        max-width: 750px;
        .main-content {
          .connection {
            margin-top: 4rem;
            .connect {
              width: 200px;
              margin: 4px;
              border: 2px solid var(--primary-color);
              color: var(--primary-color);
              &:hover {
                background: var(--primary-color);
                color: var(--secondary-color);
              }
            }
          }
        }
      }
    }
  }
  .menu-items {
    .menu-list-items {
      button {
        border: 2px solid var(--primary-color);
      }
      h3 {
        &::after {
          background: var(--primary-color);
        }
      }
    }
  }
  .projects {
    .container {
      .projects-content {
        .projects-container {
          .project-grid {
            .project-card {
              box-shadow: 0 0 3px 1px var(--primary-color);
              &:hover {
                box-shadow: 1px 2px 4px 1px var(--primary-color);
              }
            }
          }
        }
      }
    }
  }
  footer {
    border-top: 2px solid var(--primary-color);
    .container {
      .footer-content {
        .footer-list {
          .footer-list-item {
            border: 2px solid var(--primary-color);
            &:hover {
              background-color: var(--primary-color);
              .icon {
                color: var(--secondary-color);
              }
            }
          }
        }
      }
    }
  }
}

::selection {
  color: var(--primary-color);
  background: var(--secondary-color);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--secondary-color);
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: var(--primary-color);
  border: 2px solid var(--secondary-color);
}
*,
::after,
::before {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  transition: background color border 0.15s ease;
  cursor: none;
}

.custom-cursor {
  position: fixed;
  pointer-events: none;
  width: 24px;
  height: 24px;
  background-color: #525252;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 9999;
  user-select: none;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #ffffff;
  cursor: none;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

label,
input,
textarea {
  width: 100%;
  display: block;
  border: none;
  outline: none;
}

textarea {
  resize: none;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 117rem;
  margin: 0 auto;
}

.icon {
  font-size: 2rem;
  color: var(--secondary-color);
  background: transparent;
}

.blank {
  margin-top: 10rem;
}

.highlight {
  color: var(--primary-color);
  position: relative;
  padding: 2px 5px;
  font-weight: 400;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    z-index: -1;
  }
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1111;
  background: var(--primary-color);
  box-shadow: 0px 0px 4px 1px var(--secondary-color);
  .container {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.2rem 0;
      .left {
        .name {
          h1 {
            font-weight: 900;
            font-size: 32px;
          }
        }
      }
      .right {
        .desktop {
          .menu-items {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            .menu-list-items {
              h3 {
                font-size: 1.4rem;
                font-weight: 700;
              }
            }
          }
        }
        .mobile {
          display: none;
        }
      }
    }
  }
}

.main-section {
  height: 80vh;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    .main-body {
      max-width: 750px;
      .main-content {
        text-align: center;
        .main-title {
          margin-bottom: 4.5rem;
          h1 {
            font-size: 4.5rem;
            font-weight: 900;
          }
        }
        .main-subtitle {
          margin-bottom: 2rem;
          h3 {
            font-weight: 400;
          }
        }
        .connection {
          margin-top: 4rem;
          display: flex;
          justify-content: center;
          .connect {
            width: 220px;
            margin: 4px;
            border: 2px solid var(--secondary-color);
            color: var(--secondary-color);
            font-size: 1.8rem;
            font-weight: 700;
            padding: 10px 25px;
            border-radius: 5px;
            &:hover {
              transition: all 0.3s ease-in-out;
              background: var(--secondary-color);
              color: var(--primary-color);
            }
          }
        }
      }
    }
  }
}

.menu-items {
  .menu-list-items {
    button {
      width: 50px;
      border: 2px solid var(--secondary-color);
      border-radius: 50px;
      .mode {
        display: flex;
      }
      .mode-two {
        display: flex;
        margin-left: 52%;
      }
      &:active {
        .dark {
          transition: transform 0.3s;
          transform: translateX(100%);
        }
        .light {
          transition: transform 0.3s;
          transform: translateX(-100%);
        }
      }
    }
    h3 {
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: var(--secondary-color);
        transition: width 0.3s;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
}

.about {
  margin: 6rem 0;
  .container {
    .about-content {
      text-align: center;
      .about-me {
        margin: 2rem 0;
        .name {
          text-align: center;
        }
        p {
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 1.7;
        }
      }
      .current-stack,
      .future-stack {
        margin: 2.4rem 0;
        p {
          margin: 2rem 0;
          .icon {
            margin: 0 1rem;
            font-size: 40px;
          }
          .stack {
            &:hover {
              transition: transform 0.5s;
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
}

.emoji {
  animation: moveEmoji 2s ease-in-out infinite;
}
@keyframes moveEmoji {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0);
  }
}


.projects {
  margin: 6rem 0;
  .container {
    .projects-content {
      text-align: center;
      .projects-container {
        margin: 2rem 0;
        .project-grid {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 4rem;
          .project-card {
            transition: all 0.5s ease-in-out;
            width: 100%;
            border-radius: 5px;
            box-shadow: 0 0 3px 1px var(--secondary-color);
            .project-card-header {
              padding: 1rem;
              .img {
                overflow: hidden;
                img {
                  transition: all 0.5s ease-in-out;
                  width: 100%;
                }
              }
            }
            .project-card-footer {
              padding: 2rem 1rem 0 1.5rem;
              .project-name {
                margin-bottom: 2rem;
              }
              .project-desc {
                .desc {
                  font-size: 14px;
                  margin-bottom: 1.5rem;
                }
                .languages {
                  margin: 1rem 0;
                  .lang {
                    margin: 0 0.3rem;
                    font-size: 13px;
                  }
                }
                .links {
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  margin: 1rem 0;
                  .website,
                  .github {
                    margin: 0 0.5rem;
                  }
                }
              }
            }
            &:hover {
              transition: all 0.5s ease-in-out;
              box-shadow: 1px 2px 4px 1px var(--secondary-color);
              img {
                transition: all 0.5s ease-in-out;
                transform: scale(1.12);
              }
            }
          }
        }
      }
    }
  }
}

footer {
  border-top: 2px solid var(--secondary-color);
  .container {
    .footer-content {
      margin: 4rem auto;
      text-align: center;
      .footer-list {
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-list-item {
          border: 2px solid var(--secondary-color);
          padding: 8px 8px 6px 8px;
          border-radius: 50%;
          margin: 2rem 1rem 0 1rem;
          &:hover {
            transition: all 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
            background-color: var(--secondary-color);
            .icon {
              color: var(--primary-color);
            }
          }
        }
      }
      .copyrights {
        font-size: 1.3rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .projects {
    .container {
      .projects-content {
        .projects-container {
          .project-grid {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.6rem;
  }
  header {
    .container {
      .header {
        .right {
          .desktop {
            display: none;
          }
          .mobile {
            display: block;
            .mobile-view {
              .menu-btn {
                font-size: 2rem;
              }
              .menu-open {
                transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
                opacity: 0;
                transform: translateY(-100%);
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--secondary-color);
                z-index: 1;
                &.active {
                  opacity: 1;
                  transform: translateY(0);
                }
                .full-screen-menu {
                  position: absolute;
                  top: 0;
                  right: 0;
                  height: 100%;
                  width: 100%;
                  background: var(--primary-color);
                  padding: 2rem;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  .menu-close {
                    position: absolute;
                    top: 2rem;
                    right: 2rem;
                    font-size: 2rem;
                  }
                  .menu-items {
                    .menu-list-items {
                      font-size: 1.4rem;
                      text-align: center;
                      margin: 15px 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .main-section {
    .container {
      .main-body {
        max-width: 100vw;
        .connection {
          width: 234px;
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
        }
      }
    }
  }
  .about {
    .container {
      .about-content {
        .about-me {
          .name,
          p {
            font-size: 14px;
          }
        }
        .current-stack,
        .future-stack {
          p {
            .icon {
              margin: 0 0.6rem;
              font-size: 34px;
            }
          }
        }
      }
    }
  }
  .projects {
    .container {
      .projects-content {
        .projects-container {
          .project-grid {
            grid-template-columns: repeat(1, 1fr);
          }
        }
      }
    }
  }
}
